* {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
    background-color: darksalmon;
    font-size: 23px;
    margin-bottom: 10px;
}
h1 {
    font-size: 60px;
    margin-left: 30px;
    color:black
}
fieldset {
    width: 60%;
    border: 3px solid black;
}
input, textarea {
    border: 1px solid rgb(32, 32, 32);
}
button {
    width: 150px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 27px;
    font-weight: bold;

}
#button1 {
    background-color: red;
    margin-left: 200px;
}
#button2 {
    background-color: darkgreen;
}
.inputBlack {
    background-color: black;
    color: white;
}
#date {
    background-color: antiquewhite;
}