.super-mario {
    width: 200px;
    position: absolute;
    left: 70px;
    top: 140px;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 180px;
    top: 398px;
    z-index: 2;
  }
  
  .baloon {
      position: absolute;
      left: 270px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 3;
    left: 290px;
    top: 115px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 540px;
    top: 270px;
  }
